


#PlaceForProfilePic {
    width: auto;
    height: auto;
    display: block;
    max-width: 50rem;
    max-height: 20rem;
    background-color: #2dff0e;
    border: aquamarine;
}

#updBtn {
    position: absolute;
}

#id_imageField {
    width: inherit;
    height: auto;
    display: block;
    max-width: 50rem;
    max-height: 20rem;
    border: aquamarine;
    position: relative;
}

.gk {
    margin: 10px auto auto;
    border-color: aquamarine;
    border-style: groove;
    height: 3rem;
    border-radius: 1rem;
}