#id_imageField {
    float: right;
    width: inherit;
    height: auto;
    display: block;
    max-width: 50rem;
    max-height: 20rem;
    border: aquamarine;
}

#PlaceForProfilePic {
    float: right;
    margin-right: 5rem;
    width: auto;
    height: auto;
    display: block;
    max-width: 50rem;
    max-height: 20rem;
    background-color: #2dff0e;
    border: aquamarine;
}

#updBtn {
    position: absolute;
}


#left {
    text-align: left;
}

.gk {
    margin: 10px auto auto;
    border-color: aquamarine;
    border-style: groove;
    height: 3rem;
    border-radius: 1rem;
}

