<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>
<form action={{ButtonAction}} method={{method}}>
    {% csrf_token %}
    <h3>{{Header}}</h3>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Email or Phone" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password">

    <button type="submit"> {{ButtonName}}</button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
</form>

</body>
</html>