<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>
<div>
    {% include 'navbar.html' %}

    {% block content %}
    {% load static %}
    <br>
    <div>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            {% for CardHeader in list %}
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'image/user.png' %}" class="card-img-top img-thumbnail" alt="PlaceForImage">
                    <div class="card-body">
                        <h5 class="card-title">{{ CardHeader.first_name}} {{ CardHeader.last_name}} </h5>
                        <button type="button" class="btn btn-outline-info">
                            <a href="/adduser/follow/{{CardHeader.id}}">
                                {% if isFollow%}
                                Following
                                {% else %}
                                Follow
                                {% endif %}
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endblock%}
</div>


</body>
</html>