{% load static %}
{%for a in settings%}
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn" aria-expanded="true" onclick="btn('first')">
                        Change Information
                    </button>
                </h5>
            </div>
            <div id="first" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col ">
                                <div class="card" style="width: 20rem;">
                                    <img class="card-img-top"
                                         src="/{{a.ProfilePic}}"
                                         alt="Change Profile Picture"
                                    >
                                    <input type="file" class="form-control" id="inputGroupFile03">
                                </div>

                            </div>
                            <div class="col">
                                <div class="row">
                                    <label for="first_name"></label>
                                    <input type="text" class="form-control" id="first_name"
                                           value="{{user.first_name }}"
                                           name="first_name"
                                           placeholder="First name : {{user.first_name }}">
                                </div>

                                <div class="row">
                                    <input type="text" class="form-control" id="middle_name"
                                           placeholder="Middle name : {{user.middle_name}}">
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control" id="last_name"
                                           placeholder="Last name : {{user.last_name}}">
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control" onfocus="(this.type='date')"
                                           onblur="(this.type='text')" id="dateofbirth"
                                           placeholder="Date Of Birth : {{a.DateOfBirth}}">
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control" id="country"
                                           placeholder="Country : {{a.Country}}">
                                </div>
                                <div class="row">
                                    <input type="text" class="form-control" id="state"
                                           placeholder="State : {{a.State}}">
                                </div>
                                <br>
                                <div class="row">
                                    <button class="btn btn-primary" value="OK" type="submit">Save</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--        second -->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn" onclick="btn('second')">
                    Change Password
                </button>
            </h5>
        </div>

        <div id="second" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword"
                                       placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword2"
                                       placeholder="Confirm Password">
                                <label for="floatingPassword">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-dark">Save</button>
                </form>
            </div>
        </div>
    </div>
    <!--third-->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn" onclick="btn('third')">
                    Privacy Settings
                </button>
            </h5>
        </div>

        <div id="third" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Private Account</label>
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-dark">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>
{%endfor%}
<!--</div>-->


<!--javascript code -->
<script>
function btn(id){
    const a = document.getElementById(id);
    const b = a.classList
    if(b[0] == 'show')
    {
        a.removeAttribute("class","show")
        a.setAttribute("class", "collapse")
    }
    else
        a.setAttribute("class", "show")
    console.log(a.classList)
}
</script>



